.logoNew{
  width: 13em;
  height: auto;
}

.display-5{
font-size: 2.5em;
line-height: 1.2;
}

.menuLinks{
  font-weight: 700;
}

.active{
  color: #000000;
  font-weight: 700;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.introImagePage{
  padding: 7em 0;
}

.semTransparent {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);

}

.blackAndWhite {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
